.nav {
    display: flex;
    align-items: center;
    padding: 2px;
}

.nav__logo {
    position: relative;
    z-index: 1;

    @media (max-width: 425px) {
        width: 89px;
        height: 36px;
    }

    &--hidden {
        @media (max-width: 590px) {
            visibility: hidden;
        }
    }
}

.nav-list {
    display: flex;
    gap: 105px;
    align-items: center;
    margin-left: auto;

    @media (max-width: 900px) {
        position: absolute;
        top: -30px;
        right: -3%;
        background: $bg-color;
        flex-direction: column;
        margin: 0;
        gap: 40px;
        height: 450px;
        width: 70%;
        z-index: 100;
        padding: 115px 40px;
        border-radius: 0 0 0 30px;
        align-items: flex-start;
        transition: all 0.3s ease-in;
        transform: translateX(100%);
        &--active {
            transform: translateX(0);
        }
    }

    @media (max-width: 590px) {
        width: 95%;
        right: -4%;
    }

    @media (max-width: 425px) {
        width: 104%;
        padding: 115px 20px;
    }

    @media (max-width: 385px) {
        right: -5%;
    }
}

.nav-list__item {
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
}

.nav-list__link {
    color: $text-muted;
    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.8;
    }
}
