@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: $font-main;
    color: $text-color;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    padding: 85px 0 0 0;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        width: 152px;
        height: 152px;
        background: radial-gradient(
            95.38% 95.38% at 50.77% 4.62%,
            #dea8ff 0%,
            #9d6ad9 44.51%,
            #7a2bf6 100%
        );
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 95px;
        transform: rotate(-25deg);
        transform: translateX(-95px);
        z-index: 10;

        @media (max-width: 900px) {
            right: 50px;
            transform: translateX(-50px);
        }

        @media (max-width: 730px) {
            right: -100px;
        }
        @media (max-width: 610px) {
            width: 110px;
            height: 110px;
            right: -80px;
        }
        @media (max-width: 610px) {
            width: 88px;
            height: 88px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 84px;
        height: 84px;
        background: radial-gradient(
            63.25% 73.53% at 65.32% 77.65%,
            #045dfa 0%,
            #0fc1d7 83.16%,
            #06f6c7 100%
        );
        border-radius: 50%;
        margin-right: auto;
        left: 20%;
        top: 200px;
        z-index: 1;
        transform: translateX(-70%);

        @media (max-width: 1120px) {
            left: 10%;
            width: 70px;
            height: 70px;
        }

        @media (max-width: 800px) {
            left: 10%;
            top: 290px;
            width: 40px;
            height: 40px;
        }
        @media (max-width: 425px) {
            width: 22px;
            height: 22px;
            top: 120px;
        }
    }
    @media (max-width: 610px) {
        padding: 50px 0 0 0;
    }
}

.blur {
    &--open {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 50;
        background: rgba(48, 9, 97, 0.3);
        backdrop-filter: blur(5px);
    }
}

.body--no-scroll {
    overflow: hidden;
}
