$font-main: 'Inter', sans-serif;
$font-accent: 'GT Walsheim Pro', sans-serif;

$bg-color: rgba(29, 37, 50, 1);
$text-color: #FFF;
$text-muted: #CECECE;
$text-dark: #242424;

$gradient-purple: linear-gradient(
    170.98deg,
    rgba(95, 56, 255, 0.55) 25.59%,
    rgba(255, 14, 222, 0.55) 100.44%
);
$gradient-green: linear-gradient(92.84deg, #1dd844 1.44%, #cbf62e 126.29%);
